{% extends 'base.html.twig' %}

{% block title %}Votre panier{% endblock %}

{% block body %}
<div class="container">
    <section class="row">
        <div class="col-12">
            <h1>Panier</h1>
            <table class="table table-primary">
                <thead>
                    <tr>
                        <th>Produit</th>
                        <th>Prix</th>
                        <th>Quantite</th>
                        <th>Total</th>
                        <th>Action</th>
                    </tr>
                </thead>
                <tbody> 
                        {% for element in data %}
                            <tr>
                                <td>{{ element.produit.nom}}</td>
                                <td>{{ element.produit.prixHT}} €</td>
                                <td>{{element.quantite}}</td>
                                <td>{{element.quantite * element.produit.prixHT}} €</td>
                                <td>
                                <a href="{{ path('app_panier_ajout', {id: element.produit.id})}}" class="btn btn-success">+</a>
                                <a href="{{ path('app_panier_enlever',{id: element.produit.id})}}" class="btn btn-warning">-</a>
                                <a href="{{ path('app_panier_supprimer',{id: element.produit.id})}}" class="btn btn-danger">Supprimer</a>
                                </td>
                            </tr>
                        {% else %}
                            <tr>
                                <td colspan="5">Votre panier est vide</td>
                            </tr>
                        {% endfor %}
                </tbody>
                <tfoot>
                    <tr>
                        <td colspan="3">Total HT</td>
                        <td colspan="2">{{ total }} €</td>
                    </tr>
                    <tr>
                        <td colspan="3">Total TTC</td>
                        <td>{{total * 1.20}} €</td>
                        <td>
                            {% if reduction == 1 and coefficient == 1 %}
                            <a href="{{ path('app_panier_vider')}}" class="btn btn-danger">Vider</a>
                            {% endif %}
                        </td>
                    </tr>
                    {% if reduction != 1 and coefficient != 1  %}
                    <tr>
                    <td colspan="3">Total TTC avec reduction de {{ 100 - (reduction * 100) }} % et coefficient de réduction {{ 100 - (coefficient * 100) }} % </td>
                    <td> {{total * 1.20 * reduction * coefficient }} € </td>
                    <td>  <a href="{{ path('app_panier_vider')}}" class="btn btn-danger">Vider</a> </td>
                    </tr>
                    {% elseif reduction == 1 and coefficient != 1  %}
                    <tr>
                    <td colspan="3">Total TTC avec coefficient de réduction {{ 100 - (coefficient * 100) }} % </td>
                    <td> {{total * 1.20 * coefficient }} € </td>
                    <td>  <a href="{{ path('app_panier_vider')}}" class="btn btn-danger">Vider</a> </td>
                    </tr>
                    {% elseif coefficient == 1 and reduction != 1  %}
                    <tr>
                    <td colspan="3">Total TTC avec réduction {{ 100 - (reduction * 100) }} % </td>
                    <td> {{total * 1.20 * reduction }} € </td>
                    <td>  <a href="{{ path('app_panier_vider')}}" class="btn btn-danger">Vider</a> </td>
                    </tr>
                    {% endif %}
                </tfoot>
            </table>
         <a href="{{ path('home')}}" class="btn btn-success">Parcourir les produits</a> 
         <a href="{{ path('app_commande')}}" class="btn btn-primary">Valider la commande</a>
        </div>
    </section>
</div>
{% endblock %}