{% extends 'base.html.twig' %}

{% block body %}
    <div class="container">
        <div class="row mt-5">
            <div class="col-sm-8 offset-sm-2">
                <h1>Vos informations</h1>
                <table class="table table-light table-hover">
                    <thead>
                    <tr>
                        <th>Email</th>
                        <th>Rôles</th>
                        <th>Actions</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr>
                        <td>{{ informations.email }}</td>
            {#                        Les rôles sont un tableau, il nous faire une boucle :#}
                        <td>
                        {% for role in informations.roles %}
                        {{ role }} 
                        {% endfor %}
                        </td>
                        <td><a href="">Modifier vos coordonnées</a></td>
                    </tr>
                    </tbody>
                </table>
            {% if informations.reduction is not null %}
            <div class="row">
            <p>Vous bénéficiez d'une réduction de {{100-(informations.reduction  * 100 )}} % sur votre prochaine commande. </p>
            </div>
            {% endif %}
        {% for commande in commandes %}
        
        <div class="row">Commande du {{commande.dateCommande | date('d/m/y')}}#{{commande.id}}
        <table class="table table-light table-hover table-striped">
            <thead>
                <tr>
                    <th>Nom du produit</th>
                    <th>Quantité commandée</th>
                    <th>Prix total du produit</th>
                </tr>
                </thead>
                <tbody>
                <tr>
            {% for detail in commande.details %}
                    <td>{{ detail.produit.nom }}</td>
                    <td>{{ detail.quantiteCommandee }}</td>
                    <td>{{ detail.Produit.prixHT * detail.quantiteCommandee}}</td>
                </tr>
            {% endfor %}
            </tbody>
            <tfoot>
                    <tr>
                        <td colspan="2">Total (TVA 20%) </td>
                        <td>{{ commande.montantCommandeTTC }} €</td>
                    </tr>
                     <tr>
                        <td colspan="3">Facturé au {{commande.adresseFacturation}}, {{commande.villeFacturation}}</td>                  
                    </tr>
                    <tr>
                        <td colspan="3">Livré au {{commande.adresseLivraison}}, {{commande.villeLivraison}}</td>                  
                    </tr>
            </tfoot>
            </table>
           
            </div>
            {% endfor %}
             {% if is_granted('ROLE_EMPLOYE') %}

        <div class="row"><h2>Vos clients à charge</h2>
        {% for client in informations.Employe %}
        
        <div class="row">
        <table class="table table-light table-hover table-striped">
            <thead>
                <tr>
                    <th>Nom et prénom du client</th>
                    <th>Email</th>
                    <th>Modifier le coefficient de sa prochaine commande</th>
                </tr>
                </thead>
                <tbody>
                <tr>
                    <td>{{ client.nom}} {{ client.prenom }}</td>
                    <td>{{ client.email }}</td>
                    <td><a class="btn btn-success btn-sm" href="{{ path('app_profil_edit', { id: client.id }) }}">Modifier le coefficient</a></td>
                </tr>
            </tbody>
            </table>
            </div>
            {% endfor %}
            </div>
            {% endif %}
            {# {{informations.employeCharge.email}} #}
            {% if informations.employeCharge.email is defined %}
            <a class="btn btn-success btn-sm" href="/profil/requete/">Soumettre une requête au commercial encadrant.</a>
            {% endif %}
    </div>
{% endblock %}