{% extends 'base.html.twig' %}
{% block body %}
         
<div class="container">
<div class="btn-group col-auto">
                <button class="btn btn-sm dropdown-toggle" type="button" id="filterDropdown" data-bs-toggle="dropdown" aria-expanded="false">
                    Filtre
                </button>
                <ul class="dropdown-menu" aria-labelledby="filterDropdown">
                    <li><a class="dropdown-item" href="{{ path('app_produit', { 'sort': 'price_asc' }) }}">Prix (asc)</a></li>
                    <li><a class="dropdown-item" href="{{ path('app_produit', { 'sort': 'price_desc' }) }}">Prix (desc)</a></li>
                    <li><a class="dropdown-item" href="{{ path('app_produit', { 'sort': 'alphabetical_asc' }) }}">Alphabétique (A-Z)</a></li>
                    <li><a class="dropdown-item" href="{{ path('app_produit', { 'sort': 'alphabetical_desc' }) }}">Alphabétique (Z-A)</a></li>
                    <li><a class="dropdown-item" href="{{ path('app_produit', { 'sort': 'popularity' }) }}">Les plus populaires</a></li>
                </ul>
            </div>
    <h2>Nos produits</h2>
    <div class="row pt-3">
    {% set n = 1 %}
    {% for produit in produits %}
    {% if total % 3 == 2 %}
    {% if (total - n) == 1 or (total - n) == 0 %}
    <div class="row pt-3 d-md-none">
    </div>
    <div class ="col-md-1"></div>
        <div class="col-md-5 card bg-white">
        <div class="card-body">
        <div class="row"><img src="/images/produits/{{produit.image}}" alt="Product_image">
        </div>
        <div class="row">
            <h5 class="card-title">
                <a href="{{ path('app_produit_show', {id: produit.id, slug: produit.slug}) }}">{{produit.nom}}</a>
            </h5>
        <p class="card-text text-dark">{{produit.description}}</p>
        <div class="text-primary" style="font-weight: bold; font-size: 2rem;">{{produit.formattedPrice}} € </div>
        </div>
    </div>
    </div>
    {% else %}
        <div class="row pt-3 d-md-none">
        </div>
        <div class ="col-md-1 pt-md-3"></div>
        <div class="col-md-3 card bg-white">
        <div class="card-body">
        <div class="row"><img src="/images/produits/{{produit.image}}" alt="Product_image">
        </div>
        <div class="row">
            <h5 class="card-title">
                <a href="{{ path('app_produit_show', {id: produit.id, slug: produit.slug}) }}">{{produit.nom}}</a>
            </h5>
        <p class="card-text text-dark">{{produit.description}}</p>
        <div class="text-primary" style="font-weight: bold; font-size: 2rem;">{{produit.formattedPrice}} € </div>
        </div>
    </div>
    </div>
    {% endif %}
    {% endif %}
    {% if total % 3 == 1 %}
    {% if (total - n) == 0 %}
        <div class="row pt-3 d-md-none">
        </div>
        <div class ="col-md-2 pt-md-3"></div>
        <div class="col-md-9 card bg-white">
        <div class="card-body">
        <div class="row"><img src="/images/produits/{{produit.image}}" alt="Product_image">
        </div>
        <div class="row">
            <h5 class="card-title">
                <a href="{{ path('app_produit_show', {id: produit.id, slug: produit.slug}) }}">{{produit.nom}}</a>
            </h5>
        <p class="card-text text-dark">{{produit.description}}</p>
        <div class="text-primary" style="font-weight: bold; font-size: 2rem;">{{produit.formattedPrice}} € </div>
        </div>
    </div>
    </div>
    <div class="col-md-1"></div>
    {% else %}
        <div class="row pt-3 d-md-none">
        </div>
        <div class ="col-md-1 pt-md-3"></div>
        <div class="col-md-3 card bg-white">
        <div class="card-body">
        <div class="row"><img src="/images/produits/{{produit.image}}" alt="Product_image">
        </div>
        <div class="row">
            <h5 class="card-title">
                <a href="{{ path('app_produit_show', {id: produit.id, slug: produit.slug}) }}">{{produit.nom}}</a>
            </h5>
        <p class="card-text text-dark">{{produit.description}}</p>
        <div class="text-primary" style="font-weight: bold; font-size: 2rem;">{{produit.formattedPrice}} € </div>
        </div>
    </div>
    </div>
    {% endif %}
    {% endif %}
    {% if total % 3 == 0 %}
        <div class="row pt-3 d-md-none">
        </div>
        <div class ="col-md-1 pt-md-3"></div>
        <div class="col-md-3 card bg-white">
        <div class="card-body">
        <div class="row"><img src="/images/produits/{{produit.image}}" alt="Product_image">
        </div>
        <div class="row">
            <h5 class="card-title">
                <a href="{{ path('app_produit_show', {id: produit.id, slug: produit.slug}) }}">{{produit.nom}}</a>
            </h5>
        <p class="card-text tex t-dark">{{produit.description}}</p>
        <div class="text-primary" style="font-weight: bold; font-size: 2rem;">{{produit.formattedPrice}} € </div>
        </div>
    </div>
    </div>
    {% endif %}
    {% if n % 3 == 0 %}
    </div>
    <div class="row pt-3 ">
    {% endif %}
    {% set n = n + 1 %}
    {% endfor %}
    </div>
{% endblock %}
        {% block javascripts %}{% endblock %}
