{% extends 'base.html.twig' %}
{% block title "Produit : " ~ produit.nom %} {# Pas besoin de mettre un endblock si ça tient sur une seule ligne #}
{% block body %}

 <div class="container mt-4">
    <div class="card bg-white">
    <div class="card-body">
     <div class="card-title d-flex text-center">{{produit.nom}}</div>
        <div class="row"><div class="col-5"><img src="/images/produits/{{produit.image}}" style="align-self:center;" alt="Product_image"></div>
        <div class="col-2"></div>
        <div class="col-5"><p class="card-text text-dark">{{produit.description}}</p>
           <div class="text-primary" style="font-weight: bold; font-size: 2rem;">{{produit.formattedPrice}} € </div>
           {% if produit.stock > 0 %}
                <div class="text-success" style="font-size: 2rem;">En stock</div>
                {% else %}
                <div class="text-danger" style="font-size: 2rem;">Hors stock</div>
                {% endif %}
                <div class="position-absolute" style="bottom:0;">
                 <form action="{{ path('app_panier_ajout' , {id: produit.id}) }}" method="post">
               <label for="quantite">Quantité :</label>
                <select class="form-select" name="quantite" id="quantite">
                <option selected value="1">Choisissez la quantité</option>
                <option value="1">1</option>
                <option value="2">2</option>
                <option value="3">3</option>
                <option value="4">4</option>
                <option value="5">5</option>
                <option value="6">6</option>
                <option value="7">7</option>
                <option value="8">8</option>
                <option value="9">9</option>
                </select>
                <button type="submit commands" class="btn btn-primary">Acheter</a>
                </div>
        </div>
    </div>
    </div>
    </div>
{% endblock %}

