<!DOCTYPE html>
<html lang="fr">
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Administration{% endblock %}</title>
        {{ encore_entry_link_tags('appAdmin') }}
        {% block stylesheets %}               
            <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
        {% endblock %}

        {{ encore_entry_script_tags('appAdmin')}} 
        {% block javascripts %}
            {% block importmap %}{{ importmap('appAdmin') }}{% endblock %}
        {% endblock %}
    </head>
<body>
<nav class="sidebar col">
    <header>
        <div class="image-text">
          <span class="image">
            <img src="/images/Logo.png" alt="logo">
          </span>
        
        <div class="text header-text">
          <span class="name">Village Green</span>
          <span class="admin">Administration</span>
        </div>
      </div>
      <i class='bx bx-chevron-right toggle'></i>
    </header>
    
    <div class="menu-bar">
        <div class="menu">
          <li class="search-box">
                  <i class='bx bx-search icon'></i>
                  <input type="text" class="text nav-text" placeholder="Recherche...">
          </li>
          <ul class="menu-links">
            <li class="nav-link">
              <a href="{{path('app_admin_index')}}">
                  <i class='bx bx-home-alt icon'></i>
                  <span class="text nav-text">Accueil</span>
              </a>
            </li>
            <li class="nav-link">
              <a href="{{path('app_admin_produit_index')}}">
                  <i class='bx bx-music icon'></i>
                  <span class="text nav-text">Produits</span>
              </a>
            </li>
            <li class="nav-link">
              <a href="{{path('app_admin_sousRubrique_index')}}">
                  <i class='bx bx-folder-plus icon'></i>
                  <span class="text nav-text">Sous-rubriques</span>
              </a>
            </li>
            <li class="nav-link">
              <a href="{{path('app_admin_rubrique_index')}}">
                  <i class='bx bx-folder icon'></i>
                  <span class="text nav-text">Rubriques</span>
              </a>
            </li>
            <li class="nav-link">
              <a href="{{path('app_admin_commande_fournisseur_index')}}">
                  <i class='bx bxs-package icon' ></i>
                  <span class="text nav-text">Commandes</span>
              </a>
            </li>
            <li class="nav-link">
              <a href="{{path('app_admin_utilisateur_index')}}">
                  <i class='bx bxs-key icon' ></i>
                  <span class="text nav-text">Gestion utilisateur</span>
              </a>
            </li>
          </ul>
        </div>
        
        <div class="bottom-content">
            <li>
              <a href="{{path('app_admin_performances_index')}}">
                  <i class='bx bx-line-chart icon'></i>
                  <span class="text nav-text">Performances</span>
              </a>
            </li>
            <li>
              <a href="{{path('app_logout')}}">
                  <i class='bx bx-log-out icon' ></i>
                  <span class="text nav-text">Se déconnecter</span>
              </a>
            </li>
            <li class="mode">
                <div class="moon-sun">
                  <i class='bx bx-moon icon moon'></i>
                  <i class='bx bx-sun icon sun'> </i>
                </div>
                <span class="mode-text text">Mode nuit</span>
                
                <div class="toggle-switch">
                      <span class="switch"></span>
                </div>
            </li>
        </div>
    </div>
</nav>
 <div class="container my-4"> 
        {% include '/partials/flash.html.twig' %}
  </div> 
<section class="home">
{% block body %}

{% endblock %}
</section>
{# <nav class="navbar bg-primary navbar-expand-lg" data-bs-theme="dark">
  <div class="container-fluid">
    <a class="navbar-brand" href="{{path ('app_admin_produit_index') }}">Administration</a>
    <div class="collapse navbar-collapse">
      <ul class="navbar-nav">
        <li class="nav-item me-auto">
          <a class="nav-link {{ app.current_route == 'app_admin_produit_index' ? 'active' : ''}}" href="{{ path ('app_admin_produit_index')}}">Produits</a>
        </li>
        <li class="nav-item me-auto">
          <a class="nav-link {{ app.current_route == 'app_admin_sousRubrique_index' ? 'active' : ''}}" href="{{ path ('app_admin_sousRubrique_index')}}">Sous-rubrique</a>
        </li>
        <li class="nav-item me-auto">
        <a class="nav-link {{ app.current_route == 'app_admin_rubrique_index' ? 'active' : ''}}" href ="{{ path ('app_admin_rubrique_index')}}">Rubrique</a>
        </li>
        <li class="nav-item me-auto">
        <a class="nav-link {{ app.current_route == 'app_admin_commande_fournisseur_index' ? 'active' : ''}}" href="{{ path ('app_admin_commande_fournisseur_index')}}">Commmandes Fournisseur</a>
        </li>
        <li class="nav-item me-auto">
        <a class="nav-link {{ app.current_route == 'app_admin_utilisateur_index' ? 'active' : ''}}" href="{{ path ('app_admin_utilisateur_index')}}">Gestion utilisateur</a>
      </ul>
    </div>
  </div>
</nav> #}
</body>
</html>