{% extends 'admin/admin.html.twig' %}

{% block title "Administration" %}

{% block body %}
<p>
    <a class="btn btn-primary btn-sm" href="{{ path('app_admin_produit_create') }}">Créer un nouveau produit</a>
</p>
<table class="table">
    <thead>
    <tr>
        <th>Titre</th>
        <th>Sous-rubrique</th>
        <th>Actions</th>
    </tr>
    </thead>
    <tbody>
    {% for produit in produits %}
    <tr>
        <td>  
            <a href="{{ path('app_admin_produit_edit', { id: produit.getId  }) }}">{{ produit.getNom }}</a>
        </td>
        <td>{{ produit.sousRubrique.nom | default('') }}</td>
        <td> 
            <div class="d-flex gap-1">
                <a class="btn btn-primary btn-sm" href="{{ path('app_admin_produit_edit', { id: produit.id }) }}">Éditer</a>
                <form action="{{ path('app_admin_produit_delete' , {id: produit.id}) }}" method="post">
                    <input type="hidden" name="_method" value="DELETE">
                    <button type="submit" class="btn btn-danger btn-sm">Supprimer</button>
                </form>          
           </div>
        </td>
    </tr>
    {% endfor %}
    </tbody>
    </table>
{% endblock %}
