{% extends 'base.html.twig' %}

{% block title %}Commande{% endblock %}


{% block body %}
<div class="container-fluid">
    <h1>Validation de la commande</h1>
<div class="row mb-5">
    {{ form_errors(commande) }}
    {{ form_start(commande) }}
        {{ form_row(commande.adresseLivraison) }}
        {{ form_row(commande.villeLivraison)}}
        {{ form_row(commande.adresseFacturation)}}
        {{ form_row(commande.villeFacturation)}}
        {{ form_row(commande.moyenDePaiement)}}
        {{ form_row(commande.typeLivraison)}}
        {{ form_row(commande.CGU_validation)}}
        {{ form_row(commande.save)}}
        
    {{ form_end(commande) }}

</div>
</div>
{% endblock %}
  {% block javascripts %}
  {% endblock %}
