{%extends 'base.html.twig' %}
        {% block body %}
         
<div class="container">
    <h2>Nos produits</h2>
    <div class="row pt-3">
    {% for produit in produits %}
    
        <div class="col-md-3 card bg-white">
        <div class="card-body">
        <div class="row"><img src="/images/produits/{{produit.image}}">
        </div>
        <div class="row">
            <h5 class="card-title">
                <a href="{{ path('app_admin_produit_show', {id: produit.id, slug: produit.slug}) }}">{{produit.nom}}</a>
            </h5>
        <p class="card-text text-dark">{{produit.description}}</p>
        <div class="text-primary" style="font-weight: bold; font-size: 2rem;">{{produit.formattedPrice}} € </div>
        </div>
    </div>
    </div>
    <div class ="col-md-1"></div>
    {% if produit.id % 3 == 0 %}
    </div>
    <div class="row pt-3 ">
    {% endif %}    
        {% endfor %}
    </div>
{% endblock %}
        {% block javascripts %}{% endblock %}