{% extends 'base.html.twig' %}
        {% block body %}
         
<div class="container">
    <h2 class="pt-3">Nos produits</h2>
    <div class="row pt-3">
    {% set n = 1 %}
    {% for produit in produits %}
    {% if total % 3 == 2 %}
    {% if (total - n) == 1 or (total - n) == 0 %}
    <div class="row pt-3 d-lg-none">
    </div>
    <div class ="col-lg-1"></div>
        <div class="col-lg-5 card bg-white">
        <div class="card-body">
        <div class="row"><img src="/images/produits/{{produit.image}}" alt="Product_image">
        </div>
        <div class="row">
            <h5 class="card-title">
                <a href="{{ path('app_produit_show', {id: produit.id, slug: produit.slug}) }}">{{produit.nom}}</a>
            </h5>
        <p class="card-text text-dark">{{produit.description}}</p>
        <div class="text-primary" style="font-weight: bold; font-size: 2rem;">{{produit.formattedPrice}} € </div>
        </div>
    </div>
    </div>
    {% else %}
        <div class="row pt-3 d-lg-none">
        </div>
        <div class ="col-lg-1"></div>
        <div class="col-lg-3 card bg-white">
        <div class="card-body">
        <div class="row"><img src="/images/produits/{{produit.image}}" alt="Product_image">
        </div>
        <div class="row">
            <h5 class="card-title">
                <a href="{{ path('app_produit_show', {id: produit.id, slug: produit.slug}) }}">{{produit.nom}}</a>
            </h5>
        <p class="card-text text-dark">{{produit.description}}</p>
        <div class="text-primary" style="font-weight: bold; font-size: 2rem;">{{produit.formattedPrice}} € </div>
        </div>
    </div>
    </div>
    {% endif %}
    {% endif %}
    {% if total % 3 == 1 %}
    {% if (total - n) == 0 %}
            <div class="row pt-3 d-lg-none">
        </div>
        <div class ="col-lg-2"></div>
        <div class="col-lg-9 card bg-white">
        <div class="card-body">
        <div class="row"><img src="/images/produits/{{produit.image}}" alt="Product_image">
        </div>
        <div class="row">
            <h5 class="card-title">
                <a href="{{ path('app_produit_show', {id: produit.id, slug: produit.slug}) }}">{{produit.nom}}</a>
            </h5>
        <p class="card-text text-dark">{{produit.description}}</p>
        <div class="text-primary" style="font-weight: bold; font-size: 2rem;">{{produit.formattedPrice}} € </div>
        </div>
    </div>
    </div>
    <div class="col-lg-1"></div>
    {% else %}
        <div class="row pt-3 d-lg-none">
        </div>
        <div class ="col-lg-1"></div>
        <div class="col-lg-3 card bg-white">
        <div class="card-body">
        <div class="row"><img src="/images/produits/{{produit.image}}" alt="Product_image">
        </div>
        <div class="row">
            <h5 class="card-title">
                <a href="{{ path('app_produit_show', {id: produit.id, slug: produit.slug}) }}">{{produit.nom}}</a>
            </h5>
        <p class="card-text text-dark">{{produit.description}}</p>
        <div class="text-primary" style="font-weight: bold; font-size: 2rem;">{{produit.formattedPrice}} € </div>
        </div>
    </div>
    </div>
    {% endif %}
    {% endif %}
    {% if total % 3 == 0 %}
        <div class="row pt-3 d-lg-none">
        </div>
         <div class ="col-lg-1"></div>
        <div class="col-lg-3 card bg-white">
        <div class="card-body">
        <div class="row"><img src="/images/produits/{{produit.image}}" alt="Product_image">
        </div>
        <div class="row">
            <h5 class="card-title">
                <a href="{{ path('app_produit_show', {id: produit.id, slug: produit.slug}) }}">{{produit.nom}}</a>
            </h5>
        <p class="card-text text-dark">{{produit.description}}</p>
        <div class="text-primary" style="font-weight: bold; font-size: 2rem;">{{produit.formattedPrice}} € </div>
        </div>
    </div>
    </div>
    {% endif %}
    {% if n % 3 == 0 %}
    </div>
    <div class="row pt-3 ">
    {% endif %}
    {% set n = n + 1 %}
    {% endfor %}
    </div>
    <h2>Nos produits en vedettes</h2>
    <div class="row py-3">
    {% for topproduit in topprod %}
        <div class="row pt-3 d-lg-none">
        </div>
        <div class ="col-lg-1"></div>
        <div class="col-lg-3 card bg-white">
        <div class="card-body">
        <div class="row"><img src="/images/produits/{{topproduit[0].produit.image}}" alt="Product_image">
        </div>
        <div class="row">
            <h5 class="card-title">
                <a href="{{ path('app_produit_show', {id: topproduit[0].produit.id, slug: topproduit[0].produit.slug}) }}">{{topproduit[0].produit.nom}}</a>
            </h5>
        <p class="card-text text-dark">{{topproduit[0].produit.description}}</p>
        <div class="text-primary" style="font-weight: bold; font-size: 2rem;">{{topproduit[0].produit.formattedPrice}} € </div>
        </div>
    </div>
    </div> 

{% endfor %}
    </div> 
{% endblock %}
{% block javascripts %}{% endblock %}
