
    {% extends 'base.html.twig' %}
{% block body %}
<div class="container">
    <h2>Nos rubriques</h2>
    <div class="row pt-3">
    {% set n = 1 %}
    {% for rubrique in rubriques %}
    {% if total % 3 == 2 %}
    {% if (total - n) == 1 or (total - n) == 0 %}
    <div class ="col-md-1"></div>
        <div class="col-md-5 card bg-white">
        <div class="card-body">
        <div class="row"><img src="/images/produits/{{rubrique.image}}" alt="rubrique_image">
        </div>
        <div class="row">
            <h5 class="card-title">
                <a href="{{ path('app_rubrique_show', {id: rubrique.id}) }}">{{rubrique.nom}}</a>
            </h5>
             <p class="card-text text-dark">{{rubrique.description}}</p>
        </div>
    </div>
    </div>
    {% else %}
        <div class ="col-md-1"></div>
        <div class="col-md-3 card bg-white">
        <div class="card-body">
        <div class="row"><img src="/images/produits/{{rubrique.image}}" alt="rubrique_image">
        </div>
        <div class="row">
            <h5 class="card-title">
                <a href="{{ path('app_rubrique_show', {id: rubrique.id}) }} }}">{{rubrique.nom}}</a>
            </h5>
            <p class="card-text text-dark">{{rubrique.description}}</p>
        </div>
    </div>
    </div>
    {% endif %}
    {% endif %}
    {% if total % 3 == 1 %}
    {% if (total - n) == 0 %}
        <div class ="col-md-2"></div>
        <div class="col-md-9 card bg-white">
        <div class="card-body">
        <div class="row"><img src="/images/produits/{{rubrique.image}}" alt="rubrique_image">
        </div>
        <div class="row">
            <h5 class="card-title">
                <a href="{{ path('app_rubrique_show', {id: rubrique.id}) }}">{{rubrique.nom}}</a>
            </h5>
            <p class="card-text text-dark">{{rubrique.description}}</p>
        </div>
    </div>
    </div>
    <div class="col-md-1"></div>
    {% else %}
        <div class ="col-md-1"></div>
        <div class="col-md-3 card bg-white">
        <div class="card-body">
        <div class="row"><img src="/images/produits/{{rubrique.image}}" alt="rubrique_image">
        </div>
        <div class="row">
            <h5 class="card-title">
                <a href="{{ path('app_rubrique_show', {id: rubrique.id}) }} }}">{{rubrique.nom}}</a>
            </h5>
            <p class="card-text text-dark">{{rubrique.description}}</p>
        </div>
    </div>
    </div>
    {% endif %}
    {% endif %}
    {% if total % 3 == 0 %}
         <div class ="col-md-1"></div>
        <div class="col-md-3 card bg-white">
        <div class="card-body">
        <div class="row"><img src="/images/produits/{{rubrique.image}}" alt="rubrique_image">
        </div>
        <div class="row">
            <h5 class="card-title">
                <a href="{{ path('app_rubrique_show', {id: rubrique.id}) }}">{{rubrique.nom}}</a>
            </h5>
            <p class="card-text text-dark">{{rubrique.description}}</p>
        </div>
    </div>
    </div>
    {% endif %}
    {% if n % 3 == 0 %}
    </div>
    <div class="row pt-3 ">
    {% endif %}
    {% set n = n + 1 %}
    {% endfor %}
    </div>
{% endblock %}
{% block javascripts %}{% endblock %}

    