{% extends 'admin/admin.html.twig' %}

{% block title %}Administration{% endblock %}

{% block body %}
{{ encore_entry_script_tags('app9')}}
<div class="text">Performances de Village Green<hr>
<p>Vous trouverez sur cette page, des indicateurs de performances de l'entreprise.</p>
</div>
<div class="row">
<table class="table table-dark bdr">
    <thead>
    <tr>
        <th>Nom du produit</th>
        <th>Fournisseur du produit</th>
        <th>Nombre de fois acheté</th>
        <th>Revenu du produit</th>
    </tr>
    </thead>
    <tbody>
    {% for produit in listeProduitVendu %}
    <tr>
        <td>  
            {{produit.nom}}
        </td>
        <td>{{produit.nomFournisseur}}
        <td>{{produit.1}}
        </td>
        <td>{{produit.2|number_format(2,'.',' ')}} €
        </td>
    </tr>
    {% endfor %}
    </tbody>
    <tfoot>
        <tr>
            <td colspan="3">Total</td>
            <td colspan="2">{{ total[0][1]|number_format(2,'.',' ') }} €</td>
        </tr>

    
    </table>
    <div class="row" id="root_app9"></div>
    
</div>
{% endblock %}
